@font-face {
	font-family: bastard;
	src: url(JacquardaBastarda9-Regular.ttf);
}
body{
	width: 60%;
}
.life{
	font-family: Helvetica;
	color: ghostwhite;
	font-size: 1000%;
	font-weight: bolder;
	position: absolute;
	left: 100px;
}
.skull{
	width: 100%;
	position: absolute;
	left: 100px;
	bottom: 125px;
	top: 200px;

}
.death{
	font-family: 'Times New Roman';
	font-style: italic;
	color: black;
	font-size: 800%;
	position: absolute;
	top: 300px;
	z-index: 1;
	-webkit-text-stroke: 1px hotpink;
	left: 1px;

}
.box1{
	width: 200px;
	height: 180px;
	background-color: hotpink;
	position: absolute;
	left: 275px;
	z-index: -1;
	top: -1;
}
.box2{
	width: 100px;
	height: 160px;
	background-color: green;
	position: absolute;
	left: 225px;
	z-index: -2;
	top: -1;
}
.and{
	position: absolute;
	top: 200px;
	font-size: 300%;
	font-family: Helvetica;
	font-weight: bolder;
	z-index: 4;
}
.andand{
	position: absolute;
	top: 250px;
	font-size: 300%;
	font-family: Helvetica;
	font-weight: bolder;
	z-index: 4;
	left: 200px;
}
a{
	text-decoration: none;
	color: inherit;
}
a:visited{
	color: inherit;
}
.enter{
	font-family: bastard;
	position: absolute;
	left: 25px;
	top: 700;
	font-size: 600%;
	color: green;
	z-index: 3;
	-webkit-text-stroke: 1px blue;
	
}
.list1{
	font-family:Helvetica;
	font-weight: 700;
	color: black;
	display: flex;
	flex-wrap: wrap;
	row-gap: 400px;
}
.list2{
	font-family: 'Times New Roman';
	color: white;
	display: flex;
	flex-wrap: wrap;
}
.deathcontainer{
	background-color: black;
	width: 430px;
}
#life{
	font-family: helvetica;
	font-weight: bolder;
	color: black;
	font-size: 1000%;
	position: absolute;
	right: 100px;
}
#header{
	font-family: Helvetica;
	font-weight: bolder;
	color: black;
	font-size: 300%;
	position: absolute;
	left: 200;
	top: 200px;
}
#lifearticle{
	font-family: helvetica;
	font-size: 200%;
	display: flex;


}
.matterof{
	color: white;
}
#yhwh{
	width: 70%;
	position: absolute;
	z-index: -1;
	top: 180px;
}