@font-face {
	font-family: bastard;
	src: url(JacquardaBastarda9-Regular.ttf);
}
body{
	/* width: 60%; */
}
.life{
	font-family: Helvetica;
	color: ghostwhite;
	width: auto;
	font-size: 1000%;
	font-weight: bolder;
	/* position: absolute;
	left: 100px; */
}
.skull{
	width: 25rem;
	position: absolute;
	left: 18%;
	top: 15rem;
	z-index: -2;


}
.death{
	font-family: 'Times New Roman';
	font-style: italic;
	color: black;
	font-size: 650%;
	position: absolute;
	top: 18rem;
	z-index: 1;
	-webkit-text-stroke: 1px hotpink;
	/* left: 1px; */

}
.box1{
	width: 200px;
	height: 180px;
	background-color: hotpink;
	position: absolute;
	left: 275px;
	z-index: -1;
	top: -1;
}
.box2{
	width: 100px;
	height: 160px;
	background-color: green;
	position: absolute;
	left: 225px;
	z-index: -2;
	top: -1;
}
.and{
	position: absolute;
	top: 15rem;
	left: 5rem;
	font-size: 300%;
	font-family: Helvetica;
	font-weight: bolder;
	z-index: 4;
}
.andand{
	position: absolute;
	top: 17rem;
	font-size: 300%;
	font-family: Helvetica;
	font-weight: bolder;
	z-index: 4;
	left: 12rem;
}
a{
	text-decoration: none;
	color: inherit;
}
a:visited{
	color: inherit;
}
.enter{
	font-family: bastard;
	position: absolute;
	top: 40rem;
	left: .6rem;
	font-size: 600%;
	color: green;
	z-index: 3;
	-webkit-text-stroke: 1px blue;
	
}
.list1{
	font-family:Helvetica;
	font-weight: 700;
	color: black;
	display: flex;
	flex-wrap: wrap;
	row-gap: 400px;
}
.list2{
	font-family: 'Times New Roman';
	color: white;
	display: flex;
	flex-wrap: wrap;
}
.deathcontainer{
	background-color: black;
	width: 100%;
}
#life{
	font-family: helvetica;
	font-weight: bolder;
	color: black;
	font-size: 1000%;
	display: inline;
	position: absolute;
	right: 60px;
}
#header{
	font-family: Helvetica;
	font-weight: bolder;
	color: black;
	display: flex;
	font-size: 300%;
	position: relative;
	top: 15rem;
	margin: 10%;
}
#lifearticle{
	font-family: helvetica;
	font-size: 200%;
	display: flex;
	flex-wrap: wrap;
	margin: 10%;

}
.matterof{
	color: white;
	font-style: italic;
	position: absolute;
}
.articlephoto{;
	display: flex;
	z-index: -1;
}
#yhwh.articlephoto{
	width: 23rem;
}
.deaths{
	background-color: black;
}
#death{
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	-webkit-text-stroke: 1px hotpink;
	font-size: 700%;
}
#deatharticle{
	font-family: 'Times New Roman', Times, serif;
	font-size: 200%;
	display: flex;
	flex-wrap: wrap;
	margin: 10%;
	color: white;

}
.container{
	width: 100%;
}
.content{
	position: relative;
	top: 10rem;
	z-index: -1;
}
.nav{
	position: sticky;
	display: flex;
	flex-direction: row;


}
.recs{
	font-family: helvetica;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	font-size: large;
	font-weight: 600;
	
}
#deathder{
	font-family: 'Times New Roman', Times, serif;
	font-weight: lighter;
	color: white;
	display: flex;
	font-size: 300%;
	position: absolute;
	top: 200px;
	margin: 10%;
}
.cd{
	display: flex;
	justify-content: center;
	margin: auto;
	width:100%;
	height: auto;
}