body{

	width: 60%;
}
.life{
	font-family: Helvetica;
	color: ghostwhite;
	font-size: 900%;
	font-weight: bolder;
	position: relative;
	left: 250px;
	top: 100px;
}
.skull{
	width: 200%;
	position: relative;
	left: 150px;
	bottom: 125px;

}
.death{
	font-family: 'Times New Roman';
	font-style: italic;
	color: black;
	font-size: 1000%;
	position: relative;
	top: 100px;
	z-index: 1;
	-webkit-text-stroke: 1px hotpink;

}
.box1{
	width: 400px;
	height: 360px;
	background-color: hotpink;
	position: relative;
	left: 300px;
}