@font-face {
	font-family: bastard;
	src: url(JacquardaBastarda9-Regular.ttf);
}
body{
	width: 60%;
}
.life{
	font-family: Helvetica;
	color: ghostwhite;
	font-size: 1000%;
	font-weight: bolder;
	position: absolute;
	left: 100px;
}
.skull{
	width: 100%;
	position: absolute;
	left: 100px;
	bottom: 125px;
	top: 200px;

}
.death{
	font-family: 'Times New Roman';
	font-style: italic;
	color: black;
	font-size: 800%;
	position: absolute;
	top: 300px;
	z-index: 1;
	-webkit-text-stroke: 1px hotpink;
	left: 1px;

}
.box1{
	width: 200px;
	height: 180px;
	background-color: hotpink;
	position: absolute;
	left: 330px;
	z-index: -1;
	top: -1;
}
.box2{
	width: 100px;
	height: 160px;
	background-color: green;
	position: absolute;
	left: 300px;
	z-index: -2;
	top: -1;
}
.and{
	position: absolute;
	top: 200px;
	font-size: 300%;
	font-family: Helvetica;
	font-weight: bolder;
	z-index: 4;
}
.andand{
	position: absolute;
	top: 250px;
	font-size: 300%;
	font-family: Helvetica;
	font-weight: bolder;
	z-index: 4;
	left: 200px;
}
a{
	text-decoration: none;
}
a:visited{
	color: inherit;
}
.enter{
	font-family: bastard;
	position: absolute;
	left: 70px;
	top: 700;
	font-size: 600%;
	color: green;
	z-index: 3;
	-webkit-text-stroke: 1px blue;
	
}
